body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

form {
  background: white;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

input {
  margin: 8px;
  padding: 8px;
  width: 90%;
}

button {
  padding: 8px 20px;
}
